extends ../layout


block content
  h1 Add New Menu Item
  form(action="/admin/menu/add/submit" method="POST" enctype="multipart/form-data")
    div
      label Name:
      input(type="text" name="name" required)
    div
      label Price:
      input(type="number" name="price" step="0.01" required)
    div
      label Description:
      textarea(name="description" rows="3" required)
    div
      label(for="image") Upload Image:
      input(type="file" name="image" accept="image/*" required)

    div
      button(type="submit") Add Item
