doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      h1 Restaurant Admin Dashboard
      nav
        ul
          li: a(href="/admin") Dashboard
          li: a(href="/admin/menu") Menu
          li: a(href="/admin/reservation") Reservations
    main
      block content
    footer
      p &copy; 2025 Restaurant Management System made by Manpreet Kaur
