body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

header {
  background: #34495e;
  color: #fff;
  padding: 1em;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.list li{
  margin-bottom: 10px;
}

.list li a{
  text-decoration: none;
  font-size: 18px;
  color: #6c63ff;
  font-weight: 500;
}


ul li a:hover {
  color: #1abc9c;
}

main {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

div{
  margin-bottom: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 18px 8px;
  text-align: center;
}

th {
  background-color: #ecf0f1;
}

button, .button {
  background: #27ae60;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
  font-size: 16px;
}

.btn{
  background: #e74c3c;
}

button:hover, .button:hover {
  background: #2ecc71;
}
